In [342]:
#Module Home - Syntax

In [16]:
print("Hello, world!")

Hello, world!

In [14]:
if 5 > 2:
    print ("Five is greater than two!")

Five is greater than two!

In [56]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (3793329317.py, line 2)

In [60]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [62]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (1240467842.py, line 3)

In [20]:
x = 5
y = "Hello, World!"
print(x,y)

5 Hello, World!

In [345]:
#Module Comments

In [24]:
#This is a comment
print("Hello, World!")

Hello, World!

In [30]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [32]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [36]:
"""
This is a comment
written in
more t han just one line
"""
print("Hello, World!")

Hello, World!

In [347]:
#Module Variables

In [38]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [40]:
x = 4
x = "Sally"
print(x)

Sally

In [46]:
x = str(3)
y = int(3)
z = float(3)
print(x,y,z)

3 3 3.0

In [66]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [50]:
a = 4
A = "Sally"
#A will not overwrite a
print(a,A)

4 Sally

In [52]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [54]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2185399839.py, line 1)

Camel Case

In [71]:
myVariableName = "John"
print(myVariableName)

John

Pascal Case

In [84]:
MyVariableName = "John"
print(MyVariableName)

John

Snake Case

In [77]:
my_variable_name = "John"
print(my_variable_name)

John

In [87]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [89]:
x = y = z = "Orange"
print(x,y,z)

Orange Orange Orange

In [95]:
fruits = ["apple", "banana", "cherry"]
x,y,z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [97]:
x = "Python is awesome"
print(x)

Python is awesome

In [99]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [101]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [103]:
x = 5
y = 10
print(x + y)

15

In [105]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [107]:
x = 5
y = "John"
print(x, y)

5 John

In [111]:
a = "Hello"
b = "World"
print(a + b)

HelloWorld

In [113]:
x = "awesome"

def myFunc():
    print("Python is " + x)

myFunc()

Python is awesome

In [115]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [126]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [132]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [349]:
#Module Data Types

In [134]:
x = 5
print(type(x))

<class 'int'>

In [144]:
x = "Hello World"
print(x)
print(type(x))

Hello World
<class 'str'>

In [146]:
x = 20
print(x)
print(type(x))

20
<class 'int'>

In [150]:
x = 20.5
print(x)
print(type(x))

20.5
<class 'float'>

In [152]:
x = 1j
print(x)
print(type(x))

1j
<class 'complex'>

In [154]:
x = ["apple", "banana", "cherry"]
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [156]:
x = ("apple", "banana", "cherry")
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [158]:
x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [162]:
x = {"name" : "John", "age" : "36"}
print(x)
print(type(x))

{'name': 'John', 'age': '36'}
<class 'dict'>

In [164]:
x = {"apple", "banana", "cherry"}
print(x)
print(type(x))

{'apple', 'cherry', 'banana'}
<class 'set'>

In [168]:
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'apple', 'cherry', 'banana'})
<class 'frozenset'>

In [170]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [172]:
x = b"Hello"
print(x)
print(type(x))

b'Hello'
<class 'bytes'>

In [176]:
x = bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [178]:
x = memoryview(bytes(5))
print(x)
print(type(x))

<memory at 0x0000025FE6266740>
<class 'memoryview'>

In [180]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

In [355]:
#Module Numbers

Int

In [183]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

Float

In [186]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [188]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Complex

In [191]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

Type Conversion

In [194]:
x = 1
y = 2.8
z = 1j

a = float(x)
b = int(y)
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

Random Number

In [199]:
import random

print(random.randrange(1,10))

2

In [357]:
#Module Casting

Specify a Variable Type

In [208]:
x = int(1)   
y = int(2.8) 
z = int("3") 
print(x,y,z)

1 2 3

In [210]:
x = float(1)    
y = float(2.8)  
z = float("3")   
w = float("4.2")
print(x,y,z,w)

1.0 2.8 3.0 4.2

In [212]:
x = str("s1") 
y = str(2)   
z = str(3.0) 
print(x,y,z)

s1 2 3.0

In [359]:
#Module Strings

Strings

In [215]:
print("Hello")
print('Hello')

Hello
Hello

Quotes Inside Quotes

In [218]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

Assign String to a Variable

In [223]:
a = "Hello"
print(a)

Hello

Multiline Strings

In [226]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Strings are Arrays

In [236]:
a = "Hello, World!"
print(a[1])

e

Looping Through a String

In [239]:
for x in "banana":
  print(x)

b
a
n
a
n
a

String Length

In [242]:
a = "Hello, World!"
print(len(a))

13

Check String

In [245]:
txt = "The nest things in life are free!"
print("free" in txt)

True

In [247]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present")

Yes, 'free' is present

Check if NOT

In [250]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [256]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

Slicing Strings

In [260]:
b = "Hello, World!"
print(b[2:5])

llo

In [262]:
b = "Hello, World!"
print(b[:5])

Hello

Slice To the End

In [265]:
b = "Hello, World1"
print(b[2:])

llo, World1

In [267]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [269]:
x = 'Welcome'
print(x[3:5])

co

In [273]:
txt = "Hello World"
x = txt[2:5]
print(x)

llo

Upper Case

In [282]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

Lower Case

In [285]:
a = "Hello, World!"
print(a.lower())

hello, world!

Remove Whitespaces

In [294]:
a =  "Hello, World! "
print(a.strip())  # returns "Hello, World!"

Hello, World!

Replace String

In [302]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

Split String

In [316]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

String Concatenation

In [319]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [321]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

String Formmat

In [324]:
age = 36
txt = "My name is John, I am " + 36
print(txt)

TypeError: can only concatenate str (not "int") to str

In [328]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

Placeholders and Modifiers

In [331]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [333]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [335]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

Escape Characters

In [338]:
txt = "We are the so-called "Vikings" from the north."
print(txt)

SyntaxError: invalid syntax (4013392309.py, line 1)

In [340]:
txt = "We are the so-called \" Vikings\" from the north."
print(txt)

We are the so-called " Vikings" from the north.