In [347]:
#Module Variables

In [38]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [40]:
x = 4
x = "Sally"
print(x)

Sally

In [46]:
x = str(3)
y = int(3)
z = float(3)
print(x,y,z)

3 3 3.0

In [66]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [50]:
a = 4
A = "Sally"
#A will not overwrite a
print(a,A)

4 Sally

In [52]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [54]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2185399839.py, line 1)

Camel Case

In [71]:
myVariableName = "John"
print(myVariableName)

John

Pascal Case

In [84]:
MyVariableName = "John"
print(MyVariableName)

John

Snake Case

In [77]:
my_variable_name = "John"
print(my_variable_name)

John

In [87]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [89]:
x = y = z = "Orange"
print(x,y,z)

Orange Orange Orange

In [95]:
fruits = ["apple", "banana", "cherry"]
x,y,z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [97]:
x = "Python is awesome"
print(x)

Python is awesome

In [99]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [101]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [103]:
x = 5
y = 10
print(x + y)

15

In [105]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [107]:
x = 5
y = "John"
print(x, y)

5 John

In [111]:
a = "Hello"
b = "World"
print(a + b)

HelloWorld

In [113]:
x = "awesome"

def myFunc():
    print("Python is " + x)

myFunc()

Python is awesome

In [115]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [126]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [132]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic